body{
  background-color: black;
  color: white;
}

.container {
  text-align: center;
  
}

#box{
  height:100px;
  width: 100px;
  border: 1px solid white;
  display: inline-block;
  font-size: 45px;

}

#board{
  display: inline-flex;
  flex-wrap: wrap;
  width: 320px;
  line-height: 94px;
  font-weight: bold;
}

.formClass{
padding: 30px;
}

#box:nth-child(7), #box:nth-child(8), #box:nth-child(9) {
  border-bottom: 0;
}

#box:nth-child(1), #box:nth-child(2), #box:nth-child(3) {
  border-top: 0;
}

#box:nth-child(3n+1) {
  border-left: 0;
}

#box:nth-child(3n) {
  border-right: 0;
}

table{
width:20%;
margin: auto;
font-size:20px;
}

